<section *ngIf="characters$ | async as characters; else: loader;" class="content-wrapper">
  <div class="clr-row">
    <div *ngFor="let character of characters; trackBy: trackByName;" class="clr-col-sm-12 clr-col-md-3">
      <div  class="card">
        <h3 class="card-header">{{ character.name }}</h3>
        <div class="card-block">
          <button
            (click)="viewCharacterDetails(character)"
            class="btn btn-primary btn-sm details-button">
            See details
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="clr-row clr-justify-content-center">
    <button
      (click)="loadMoreCharacters()"
      *ngIf="isMoreCharactersToDownload"
      class="btn btn-primary custom-button">
      Load More Characters
    </button>
  </div>
</section>


<ng-template #loader>
  <app-spinner/>
</ng-template>
