<clr-datagrid>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Height</clr-dg-column>
  <clr-dg-column>Mass</clr-dg-column>
  <clr-dg-column>Hair color</clr-dg-column>
  <clr-dg-column>Eye color</clr-dg-column>

  <clr-dg-row
    *ngFor="let character of characters$ | async; trackBy: trackByName;"
    (click)="viewCharacterDetails(character)"
  >
    <clr-dg-cell>{{ character.name }}</clr-dg-cell>
    <clr-dg-cell>{{ character.height }}</clr-dg-cell>
    <clr-dg-cell>{{ character.mass }}</clr-dg-cell>
    <clr-dg-cell>{{ character.hair_color }}</clr-dg-cell>
    <clr-dg-cell>{{ character.eye_color }}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
