<ng-container *ngIf="planets$ | async as planets; else loader">
  <clr-datagrid class="table-wrapper">
    <clr-dg-column [clrDgField]="'name'">Name

    </clr-dg-column>
    <clr-dg-column [clrDgField]="'climate'">Climate</clr-dg-column>
    <clr-dg-column [clrDgField]="'gravity'">Gravity</clr-dg-column>
    <clr-dg-column [clrDgField]="'population'">Population</clr-dg-column>
    <clr-dg-column [clrDgField]="'terrain'">Terrain</clr-dg-column>

    <clr-dg-row *clrDgItems="let planet of planets; trackBy: trackByName;">
      <clr-dg-cell>{{ planet.name }}</clr-dg-cell>
      <clr-dg-cell>{{ planet.climate }}</clr-dg-cell>
      <clr-dg-cell>{{ planet.gravity }}</clr-dg-cell>
      <clr-dg-cell>{{ planet.population }}</clr-dg-cell>
      <clr-dg-cell>{{ planet.terrain }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="5">
        <clr-dg-page-size [clrPageSizeOptions]="[5, 10, 20]">Planets per page</clr-dg-page-size>
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} planets
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</ng-container>

<ng-template #loader>
  <app-spinner/>
</ng-template>
