<div *ngIf="character$ | async as character; else: loader" class="clr-row clr-justify-content-center">
  <div class="clr-col-md-8 clr-col-12">
    <div class="card">
      <h3 class="card-header">{{character.name}}</h3>
      <div class="card-block">
        <h4 class="card-title">Character details:</h4>
        <div class="card-text">
          <clr-datagrid>
            <clr-dg-row>
              <clr-dg-cell>Birth year</clr-dg-cell>
              <clr-dg-cell>{{character.birth_year}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>Eye color</clr-dg-cell>
              <clr-dg-cell>{{character.eye_color}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>Gender</clr-dg-cell>
              <clr-dg-cell>{{character.gender}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>Hair color</clr-dg-cell>
              <clr-dg-cell>{{character.hair_color}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>Height</clr-dg-cell>
              <clr-dg-cell>{{character.height}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>Mass</clr-dg-cell>
              <clr-dg-cell>{{character.mass}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>Skin color</clr-dg-cell>
              <clr-dg-cell>{{character.skin_color}}</clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </div>
      </div>
      <div class="card-footer clr-justify-content-between">
        <button
          (click)="loadPrevCharacter()"
          *ngIf="currentCharacterId > 1"
          class="btn btn-primary btn-sm">
          Prev character
        </button>
        <button
          (click)="loadNextCharacter()"
          *ngIf="charactersListLength ? currentCharacterId < charactersListLength : false"
          class="btn btn-primary btn-sm">
          Next character
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-spinner/>
</ng-template>
